[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# defer to setup.py
auto_version = {editable = true, path = "."}

[dev-packages]
"flake8" = "*"
black = "*"
green = "*"
six = "*"
coverage = "*"
# locked to protect from Py2/3 compatibility break in more recent versions
towncrier = "==17.8.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
