[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# defer to setup.py
pyautoversion = {path = ".",editable = true}
semver = "*"

[dev-packages]
"flake8" = "*"
black = "*"
green = "*"
six = "*"
coverage = "*"
# locked to protect from Py2/3 compatibility break in more recent versions
towncrier = "*"
pytest = "==3.6.3"
pytest-cov = "==2.5.1"
pytest-html = "==1.19.0"
pyautoversion = {path = ".",editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
